<h4 class="mb-3">Product</h4>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" (click)="addProduct()">
  Add Product
</button>
<div class="row">
  <div class="col-sm-3" *ngFor="let product of products" style="list-style: none;">
    <div class="card mb-3">
      <img src="{{product.photo}}" class='object-fit-sm-cover rounded' height='300px' alt="{{product.name}}" title="{{product.name}}">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.price}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item mt-2 mb-2"><i class="bi bi-box"></i> {{product.stock}}</li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item mt-2 mb-2">
          <div class="btn-group w-100" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning text-white" (click)="editProduct(product.id)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

